<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail</servlet-name>
        <servlet-class>controller.NewsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articles</servlet-name>
        <servlet-class>controller.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArticle</servlet-name>
        <servlet-class>controller.NewArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail</servlet-name>
        <url-pattern>/NewsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articles</servlet-name>
        <url-pattern>/Articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArticle</servlet-name>
        <url-pattern>/NewArticle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
